.main-div{
    width: 60%;
    padding: 30px;
    height: auto;
    background-color: #1B1A55;
    border-radius: 10px;
    box-shadow: 0 3px 10px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main-div p,
.main-div span{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 30px;
}
.ans-div{
    width: 90%;
    display: flex;
    flex-direction: column;
}
.row1,
.row2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
}
.ans-div button{
    width: 180px;
    padding: 10px;
    font-size: 19px;
    border-radius: 30px;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: 600;
    background-color: #b9b7f0;
}
.ans-div button:hover{
    box-shadow: 0 0 5px #FEFAE0;
    background-color: #1B1A55;
    color: #fff;
}
.submit-btn{
    margin-top: 20px;
    width: 100%;
    text-align: center;
}
.submit-btn button{
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
}
.submit-btn button:hover{
    background-color: #2E073F;
    color: #fff;
    box-shadow: 0 0 10px #fff;
}